<section>
    <table class="table table-bordered table-striped" style="top:40px;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Seleção</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{produto.ID_produtosGeral}}</td>
                <td>{{produto.Nome}}</td>
                <td>{{produto.Descricao}}</td>
                <td>{{produto.preco}}</td>
                <td>
                    <div class="form-group"><input type="text" class="form-control" id="qtd">
                    </div>
                </td>
                <td></td>
            </tr>
            {% endfor %}
            <button type="button" class="btn btn-primary btn-block">Realizar Pedido</button>
        </tbody>
    </table>
</section>