<section>
    <table class="table table-bordered table-striped" style="top:40px;">
        <thead>
            <tr>
                <th>ID</th>
                <th>SKU</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{produto.ID_produtosGeral}}</td>
                <td>{{produto.SKU}}</td>
                <td>{{produto.Nome}}</td>
                <td>{{produto.Descricao}}</td>
                <td>{{produto.preco}}</td>
                <td><a href="?pagina=editar&id={{produto.ID_produtosGeral}}" class="btn btn-primary btn-sm">Editar</a>
                </td>
                <td><a href="?pagina=deletar&id={{produto.ID_produtosGeral}}" class="btn btn-primary btn-sm">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>