        *{
            margin: 0;
            padding: 0;
        }

        /*body {
            background-color: #99FFCC;
        }
        */
        #BACK_T {
            width = screen.width*75%;
            background-color: #FFFFFF;
            margin: 0 auto;
            border-left: 2px solid #CCC;
            border-right: 2px solid #CCC;
            border-bottom: 2px solid #CCC;
        }

        #BACK_C {
            padding: 20px 25pc;
            border-bottom: 5px #CCC;
        }

        #BACK_C a {
            color: #333;
            text-decoration: none;
            font: 20px Verdana;
        }

        #BACK_C a:hover {
            text-decoration: underline;
        }

        #BACK_M {
            background-color: #FFF;
            padding: 20px 25pc;
        }
